<% include partials/header %>
<div class="container space">
  <div>
    <h2 class="txt-center"><%= event.title %></h2>
    <h3 class="txt-center">Summary: <%= event.summary %></h3>
    <p>Host: <%= event.host %></p>
    <p>Start: <%= event.start_date %></p>
    <p>End: <%= event.end_date %></p>
    <p>Event Category: <%= event.category %></p>
    <p>Location: <%= event.location %></p>
    <div class="flex">
      <p>Likes: <%= event.likes %></p>
      <a href="/events/<%= event.id %>/inc">
        <button class="like">Likes</button>
      </a>
    </div>
  </div>
  <div class="txt-center">
    <a href="/events/<%= event.id %>/edit">
      <button class="update">Update</button>
    </a>
    <a href="/events/<%= event.id %>/delete">
      <button class="delete">Delete</button>
    </a>
  </div>
  <div class="flex jc-between ai-start">
    <div class="flex-30">
      <form action="/events/<%= event.id %>/remarks" method="post">
        <textarea name="remark" rows="3" placeholder="Add Remark"></textarea>
        <input type="text" name="author" placeholder="Author" />
        <input type="number" name="likes" placeholder="Likes" />
        <input type="submit" value="Add Remark" />
      </form>
    </div>
    <div class="flex-60">
      <h2>Remarks</h2>
      <hr />
      <% event.remarks.forEach(c => { %>
      <div class="flex jc-between">
        <p>Remark: <%= c.remark %></p>
        <div class="flex">
          <p>Likes: <%= c.likes %></p>
          <a href="/remarks/<%= c.id %>/inc">
            <button class="like">Likes</button>
          </a>
        </div>
      </div>
      <div>
        <a href="/remarks/<%= c.id %>/edit">
          <button class="update">Edit</button>
        </a>
        <a href="/remarks/<%= c.id %>/delete">
          <button class="delete">Delete</button>
        </a>
      </div>
      <hr />
      <% }) %>
    </div>
  </div>
</div>
<% include partials/footer %>
